@{
    ViewData["Title"] = "Unified Marketplace";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindo ao Unified Marketplace!</h1>
    <p>O produto que você procura, está aqui!</p>
</div>
